.portfolio-section{
   padding-top: 100px;
   padding-bottom: 90px;
   border-top: 0.5px solid #6b6b6b;
   max-width: 1220px;
   margin: 0px auto;
}


.portflio-heading{
   font-size: 18px;
   line-height: 1em;
   font-weight: 400;
   text-align: center;
   letter-spacing: 5px;
   text-transform: uppercase;
}
