.perfomers-section {
    padding-top: 110px;
    padding-bottom: 100px;
    width: 100%;
  }
  
  .perfomers-heading {
    font-size: 22px;
    line-height: 1em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  
  .perfomers-items-container {
    width: 90%;
    /* max-width: 1220px; */
    margin: 0px auto;
    margin-top: 50px;
    gap: 40px; ;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .perfomers-item {
    border: 2px solid hsla(0, 0%, 100%, 0.2);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
  }
  .teamItem{
   
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.6);
    transition: all ease 300ms;
  }
  .teamItem:hover{
   transform: scale(1.01);
    box-shadow: 0px 8px 16px rgba(255, 255, 255, 0.6);
  }

  .teamItem > .name{
    padding-left: 5px;
    letter-spacing: 2px;
    margin-top: 10px;
  }

  .teamItem > .post{
    padding-left: 5px;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 22px;
  }
  
  
  .teamItemImg{
    width: 250px;
    overflow: hidden;
  }
  .teamItemImg > img{
    width: 100%;
    border-radius: 12px ;
    transition: all ease 300ms;
    
  }
  .teamItemImg > img:hover{
   transform: scale(1.09);
   border-radius: 12px ;
  }
  
  .perfomers-item-img-container {
    width: 322px;
    height: 310px;
    margin-top: -100px;
    margin-bottom: 10px;
  }
  
  .perfomers-item-img-container > img {
    width: 100%;
    height: 100%;
  }
  
  .perfomers-item-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .teleIcon{
    margin-right: 20px;
  }
  .icon{
    cursor: pointer;
  }
  
  
  @media (max-width: 1350px) {
    .perfomers-items-container{
      justify-content: space-evenly;
    }
  }
  
  
  
  
  