
.parentGet{
  background: url('./../../assets//images/shutterstock.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  border-top: 0.5px solid #6b6b6b;

}
.get-in-touch {
  padding-bottom: 90px;
  max-width: 1220px;
  margin: 0px auto;
  padding-top: 90px;
}

.get-in-touch-heading {
  font-size: 25px;
  line-height: 1em;
  font-weight: 900;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.form-wrap {
  width: 100%;
  max-width: 770px;
  margin: 50px auto !important;
}

@media (max-width: 1300px) {
  .name-container{
    margin-bottom: 20px;
  }
}
