.header{
    height: 110px;
    top: 0;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    transition: 500ms all ease;
    
}

.backgroundBlack{
    background-color: rgba(0, 0, 0, 1);
}

.header-logo{
    width: 42px;
}

.nav-items-container{
    gap: 30px;
}

.nav-item{
    
    font-size: 13px;
    letter-spacing: 3px;
    color: #f2f2f2;
    text-transform: uppercase;
}
