.partners-section {
  padding-bottom: 90px;
  max-width: 1220px;
  margin: 0px auto;
  padding-top: 90px;
  border-top: 0.5px solid #6b6b6b;

}

.partners-heading {
  font-size: 18px;
  line-height: 1em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.marque-item {
  width: 187px;
  height: 170px;
  margin-left: 20px;
  margin-right: 20px;
}
.marque-item > img {
  width: 100%;
  height: 100%;
}
