html {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: #080808 !important;
}
.text-color-white{
  color: #f2f2f2;
}

