.launch-container{
    width: 100%;
    
    padding: 140px 0px;
    text-align: center;
}

.launch-heading{
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.1em;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.launch-para{
    max-width: 420px;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 300;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 40px;
    font-weight: 500;
    color: #f2f2f2;

}

.launch-button{
    padding: 12px 35px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    max-width: 170px;
    margin: 0px auto;
}


@media (max-width: 598px) {
    .launch-heading{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .launch-para{
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .launch-button{
            max-width: 140px;
            font-size: 14px;
            padding: 10px 20px;
    }
  }