.banner{
    width: 100%;
    padding-top: 60px;
    height: 100vh;
    background: url('./../../assets//images/bannerBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

.banner-center{
    
}
.banner-center > h1{
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
  font-weight: 900;
}

.banner-down{
    height: 40px ;
    margin-top: 30px;
    width:  35px;
    position: relative;
    transition: all ease-in-out 200ms;
    animation: upDown 1200ms infinite linear;
    bottom: 0;
    cursor: pointer;
}
.banner-down > img{
    width: 100% ;
    height: 100%;

}

@keyframes upDown {
    0%, 100% {
        bottom: -10px;
      }
      50% {
        bottom: 20px;
      }
  }


  @media  (max-width: 900px) {
    .banner-center{
        width:280px;
        height: 280px;
    }
  }
  @media  (max-width: 600px) {
    .banner-center{
        width:200px;
        height: 200px;
    }
  }
  @media  (max-width: 428px) {
    .banner-center{
        width:150px;
        height: 150px;
    }
  }